#map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 120px;
}

#title_container {
    z-index: 10000;
    position: absolute;
    left: 75px;
    margin-top: 10px;
}

#timeline {
    height: 120px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    color: #7ebc6f;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.1;
}

h1 a {
    color: #7ebc6f;
    text-decoration: none;
}

h1 a:hover {
    text-decoration: underline;
}

.datetimeControl p {
    margin: 0;
    font-size: 16px;
}