#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

footer.lp {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 10px;
}

.lp .transport {
  margin: 0 auto;
  width:768px;
}

.lp .navbar {
  margin-bottom: 0;
}

.lp .navbar-inner {
  padding-right: 0;
  padding-left: 0;
}

.lp #play-pause {
  width: 18px;
}

.lp #speed-btn {
  width: 58px;
}

.lp .ui-slider {
  margin: 14px;
}

.lp #time-slider {
  width:370px;
}

.lp #calendar {
  margin: 5px;
}

.leaflet-control-layers-list {
  margin-bottom: 0;
}

.lp .speed-menu {
  width:70px;
  min-width: 70px;
}

.lp #speed-slider {
  margin-left: auto;
  margin-right: auto;
}

.lp .navbar .btn,
.lp .navbar .btn-group {
  margin-top: 0;
  padding: 0;
}

.lp .navbar .nav > li > a.clock {
  padding: 0 3px 0 3px;
  text-align: center;
  margin-left:4px;
  margin-right:4px;
}

/*Bootstrap interfering with leaflet*/
input {
  vertical-align: baseline;
}

label {
  font-weight: bold;
}
