#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 40px;
}

label {
  font-weight: bold;
}

.ui-slider {
  margin: 14px;
}

#time-slider {
  width:400px;
}

#calendar {
  margin: 5px;
}

input {
  vertical-align: baseline;
}

.leaflet-control-layers-list {
  margin-bottom: 0;
}

.speed-menu {
  width:70px;
  min-width: 70px;
}

#speed-slider {
  margin-left: auto;
  margin-right: auto;
}

.navbar .btn,
.navbar .btn-group {
  margin-top: 0;
  padding: 0;
}

.navbar .nav > li > a.clock {
  padding: 0 3px 0 3px;
  text-align: center;
  margin-left:4px;
  margin-right:4px;
}