#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 300px;
  bottom: 0;
}

#right-panel {
  position: absolute;
  top: 0;
  right: 0;
  width: 295px;
}

label {
  font-weight: bold;
}

.ui-slider {
  margin: 10px;
}

input {
  vertical-align: baseline;
}

.leaflet-control-layers-list {
  margin-bottom: 0;
}